%h1 Generate Rails Templates

%p
  Generate a "one-liner" that will build and configure
  a boot strapped Rails app!
  %small
    Requires Rails 2.3+

%ul
  %li Customize Your Own Stack
  %li Use Your Stack
  %li Share Your Stack

%h2= link_to "Generate Your Own", new_template_path