body {
  text-align: center;
  font-family: Verdana, Ariel, sans-serif;
  background: #4f5663;
  margin-top: 0px; }

a, a:visited {
  color: #369; }

img {
  border: 0px; }

h2 {
  text-align: center; }

button {
  margin-left: 180px;
  margin-bottom: 100px; }

pre {
  font-size: 10px;
  margin: 0px;
  border: 1px dotted;
  background: #eee;
  padding: 10px;
  font-size: 130%;
  margin-bottom: 30px; }

#download {
  margin-bottom: 30px; }

#wrapper {
  margin: 0 auto;
  width: 500px;
  background: white; }
  #wrapper #contents {
    margin: 0px 10px 0px 10px;
    text-align: left; }
  #wrapper #header, #wrapper #footer {
    background: #eee;
    margin-bottom: 20px;
    padding-bottom: 3px; }
  #wrapper #footer {
    font-size: 73%; }

.float_right {
  float: right; }

fieldset {
  border: 0px;
  background: #ddd;
  margin-bottom: 20px; }
  fieldset legend {
    border: 1px solid #aaa;
    background: white; }

.requirements {
  margin-left: 20px; }

.description {
  border: 1px solid #999;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  font-size: 0.8em; }
