%h1 Creating command

= error_messages_for :command

- form_tag(admin_commands_path, :method => :post) do
  = render :partial => "form"
  %p
  = submit_tag "Submit"

= link_to 'Back', admin_commands_path
